<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script>
    function load() {
        window.location.reload(true);
    }


    setInterval(load, 2500);
</script>
<h1>Cache frontend</h1>

<!-- Get session var
     https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expression-basic-objects -->

<!-- Get session var
     https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expression-basic-objects -->

<p th:text="'The system returned: ' + ${cache}" />
<p th:text="'Times this page has been hit: ' + ${counter}" />
<p th:text="'Times Scheduled Task has been hit: ' + ${scheduleCounter}" />

<!--<p th:text="'id: ' + ${greeting.id}" />-->
<!--<p th:text="'content: ' + ${greeting.content}" />-->
<!--<a href="/guess">BACK TO THE GAME FILTHY CHEATER!</a>-->
</body>
</html>