<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Cache Test</h1>

<!-- Get session var
     https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expression-basic-objects -->

<!-- Get session var
     https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expression-basic-objects -->

<p th:text="'The Correct Answer is: ' + ${cache}" />



<!--<p th:text="'id: ' + ${greeting.id}" />-->
<!--<p th:text="'content: ' + ${greeting.content}" />-->
<a href="/guess">BACK TO THE GAME FILTHY CHEATER!</a>
</body>
</html>