<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'index' %}">Home Page</a>
<a href="{% url 'master' %}">Master Data</a>
<a href="{% url 'masterShart' %}">Chart</a>

    <ul>
    {% for owner in owners%}
        <li><a href="/pets/{{ owner.id }}/">{{ owner.owner_name }}</a></li>
    {% endfor %}

    <li><a href="/pets/master">Master Data</a></li>
    <li><a href="/pets/masterShart">Master Chart</a></li>
    </ul>
</body>
</html>